
GOOGLE_API_KEY=
GEMINI_MODEL_NAME=gemini-3.1-flash-lite-preview

SCRAPER_API_KEY=
SCRAPER_URI=https://api.scrapecreators.com/v1

MEMGRAPH_URI=http://localhost:3000
GRAPH_URI=bolt://localhost:7687
GRAPH_USER=""
GRAPH_PASSWORD=""

MAIN_PORT=8081

KAFKA_BROKERS=localhost:9092

OPENAI_API_KEY=
TAVILY_API_KEY=
TAVILY_MCP_URL=
TAVILY_DEFAULT_PARAMETERS='{"include_images":false, "search_depth": "basic", "max_results": 3}'

MODEL_NAME=openai/gpt-5-mini

HIVE_API_KEY=
HIVE_ACCESS_KEY_ID=
HIVE_DEEPFAKE_URL=
OPIK_BASE_URL=http://host.docker.internal:5173/api
MINIO_ENDPOINT=http://localhost:9000
MINIO_PUBLIC_URL=http://minio:9000